= simple_form_for(@job, html: { class: 'form-horizontal'}) do |f|
  = f.input :title, label: "Job Title"
  = f.input :description, label: "Job Desription"
  = f.input :company, label: "Company"
  = f.input :url, label: "Link for the job"
  %br/
  = f.button :submit
