<!DOCTYPE html>
<html>
<head>
  <title>JobsBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% Category.all.each do |category| %>
<%= link_to category.name, jobs_path(category: category.name) %>
<% end %> <br>
<%= yield %>

</body>
</html>
